
SaiTest/.settings/org.eclipse.wst.jsdt.ui.superType.name

SaiTest/.settings/org.eclipse.wst.jsdt.ui.superType.container

SaiTest/.settings/org.eclipse.wst.common.project.facet.core.xml

SaiTest/.settings/org.eclipse.wst.common.component

SaiTest/.settings/org.eclipse.jdt.core.prefs

SaiTest/.settings/.jsdtscope

SaiTest/.project

SaiTest/.classpath
